# IDE
.DS_Store
.vscode
*-workspace

# Directories
src
pkg
bin
target
vendor
kubeconfig/*
!kubeconfig/mock_config
deployments/k8plugin

# Binaries
*.so
csar/mock_plugins/*.so
plugins/**/*.so

# Tests
*.test
*.out
