[access]
	inheritFrom = multicloud
[project]
	description = To contain a POC for Kubernetes plugin
[access "refs/heads/*"]
	label-Non-Blocking-Verification = -1..+1 group Non-Interactive Users
	label-Non-Blocking-Verification = -1..+1 group Registered Users
[label "Non-Blocking-Verification"]
	function = NoBlock
	defaultValue = 0
	value = -1 KUD Verification failed
	value = 0 Didn't validate KUD
	value = +1 KUD Verification succeeded
	allowPostSubmit = true
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
