[access]
	inheritFrom = multicloud
[project]
	description = To contain a POC for Kubernetes plugin
[access "refs/heads/*"]
    label-KUD-Verified = -1..+1 group Non-Interactive Users
[label "KUD-Verified"]
    function = NoBlock
    defaultValue = 0
    value = -1 CI failed
    value = 0 No score
    value = +1 CI succeeded
    allowPostSubmit = true
    copyAllScoresOnTrivialRebase = true
    copyAllScoresIfNoCodeChange = true
