orchestrator:
  host: {{ host }}
  port: 30415
clm:
  host: {{ host }}
  port: 30461
ncm:
  host: {{ host }}
  port: 30431
ovnaction:
  host: {{ host }}
  port: 30471
dcm:
  host: {{ host }}
  port: 30477
gac:
  host: {{ host }}
  port: 30491
dtc:
 host: {{ host }}
 port: 30481
