# Default values for packetgen.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: virtlet.cloud/ubuntu/16.04
  tag: latest
  pullPolicy: Always

nameOverride: ""
fullnameOverride: ""

resources:
  limits:
    memory: 4Gi
