# Default values for packetgen.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nameOverride: ""
fullnameOverride: ""

service:
#serivce port value for packetgen service
  type: NodePort
  ports:
    port: 2831
    nodePort: 30831

resources:
  limits:
    memory: 4Gi

#global vars for parent and subcharts.
global:

  #Networks
  unprotectedNetworkName: unprotected-private-net
  protectedPrivateNetCidr: 192.168.10.0/24

  emcoPrivateNetworkName: emco-private-net

  protectedNetworkName: protected-private-net
  protectedNetCidr: 192.168.20.0/24
  protectedNetGwIp: 192.168.20.100
  protectedNetGw: 192.168.20.100/24

  #vFirewall container
  vfwPrivateIp0: 192.168.10.3
  vfwPrivateIp1: 192.168.20.2
  vfwPrivateIp2: 10.10.20.3

  #Packetgen container
  vpgPrivateIp0: 192.168.10.2
  vpgPrivateIp1: 10.10.20.2

  #Sink container
  vsnPrivateIp0: 192.168.20.3
  vsnPrivateIp1: 10.10.20.4

  #########
  ovnMultusNetworkName: ovn-networkobj
  demoArtifactsVersion: 1.6.0
  dcaeCollectorIp: 10.0.4.1
  dcaeCollectorPort: 8081
